In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Prediction.csv")
data

,Month_with_date,Counting_from_april,Confirmed_Cases,Recovered_Cases,Deceased_Cases
0,April-1-2020,1,2059,169,53
1,April-2-2020,2,2545,191,69
2,April-3-2020,3,3105,230,83
3,April-4-2020,4,3684,286,96
4,April-5-2020,5,4293,329,118
5,April-6-2020,6,4777,394,134
6,April-7-2020,7,5350,469,161
7,April-8-2020,8,5915,565,181
8,April-9-2020,9,6728,635,227
9,April-10-2020,10,7599,786,249
10,April-11-2020,11,8453,972,290
11,April-12-2020,12,9211,1086,332
12,April-13-2020,13,10454,1198,359
13,April-14-2020,14,11485,1365,396
14,April-15-2020,15,12371,1509,423
15,April-16-2020,16,13432,1767,449
16,April-17-2020,17,14354,2040,487
17,April-18-2020,18,15725,2466,522
18,April-19-2020,19,17305,2854,560
19,April-20-2020,20,18544,3273,593
20,April-21-2020,21,20081,3967,646
21,April-22-2020,22,21373,4370,682
22,April-23-2020,23,23040,5012,722
23,April-24-2020,24,24448,5496,781
24,April-25-2020,25,26238,5938,825
25,April-26-2020,26,27890,6523,881
26,April-27-2020,27,29458,7103,939
27,April-28-2020,28,31360,7739,1008
28,April-29-2020,29,33065,8429,1079
29,April-30-2020,30,34866,9059,1154
30,May-1-2020,31,37262,10021,1231
31,May-2-2020,32,39826,10852,1323
32,May-3-2020,33,42778,11763,1463
33,May-4-2020,34,46434,12845,1566
34,April-5-2020,35,49405,14140,1694
35,May-6-2020,36,53007,15301,1785
36,May-7-2020,37,56351,16776,1889
37,May-8-2020,38,59690,17887,1986
38,May-9-2020,39,62865,19301,2101
39,May-10-2020,40,67176,20970,2213
40,May-11-2020,41,70768,22549,2294
41,May-12-2020,42,74330,24454,2414
42,May-13-2020,43,78056,26417,2551
43,May-14-2020,44,82047,28011,2648
44,May-15-2020,45,85855,30245,2752
45,May-16-2020,46,90649,34257,2872
46,May-17-2020,47,95698,36795,3024
47,May-18-2020,48,100326,39277,3155
48,May-19-2020,49,106480,42309,3301
49,May-20-2020,50,112200,45422,3435
50,May-21-2020,51,118223,48553,3583
51,May-22-2020,52,124759,51833,3725
52,May-23-2020,53,131422,54409,3867
53,May-24-2020,54,138535,57694,4023
54,May-25-2020,55,144949,60706,4173
55,May-26-2020,56,150815,64277,4346

In [3]:
data["Confirmed_Cases"].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
Name: Confirmed_Cases, dtype: bool

In [4]:
data["Confirmed_Cases"].notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
50    True
51    True
52    True
53    True
54    True
55    True
Name: Confirmed_Cases, dtype: bool

In [7]:
#data.drop('Deceased_Cases',axis=1)

In [8]:
data.drop(['Deceased_Cases','Recovered_Cases'],axis=1)

   Month_with_date  Counting_from_april  Confirmed_Cases
0     April-1-2020                    1             2059
1     April-2-2020                    2             2545
2     April-3-2020                    3             3105
3     April-4-2020                    4             3684
4     April-5-2020                    5             4293
5     April-6-2020                    6             4777
6     April-7-2020                    7             5350
7     April-8-2020                    8             5915
8     April-9-2020                    9             6728
9    April-10-2020                   10             7599
10   April-11-2020                   11             8453
11   April-12-2020                   12             9211
12   April-13-2020                   13            10454
13   April-14-2020                   14            11485
14   April-15-2020                   15            12371
15   April-16-2020                   16            13432
16   April-17-2020                   17            14354
17   April-18-2020                   18            15725
18   April-19-2020                   19            17305
19   April-20-2020                   20            18544
20   April-21-2020                   21            20081
21   April-22-2020                   22            21373
22   April-23-2020                   23            23040
23   April-24-2020                   24            24448
24   April-25-2020                   25            26238
25   April-26-2020                   26            27890
26   April-27-2020                   27            29458
27   April-28-2020                   28            31360
28   April-29-2020                   29            33065
29   April-30-2020                   30            34866
30      May-1-2020                   31            37262
31      May-2-2020                   32            39826
32      May-3-2020                   33            42778
33      May-4-2020                   34            46434
34    April-5-2020                   35            49405
35      May-6-2020                   36            53007
36      May-7-2020                   37            56351
37      May-8-2020                   38            59690
38      May-9-2020                   39            62865
39     May-10-2020                   40            67176
40     May-11-2020                   41            70768
41     May-12-2020                   42            74330
42     May-13-2020                   43            78056
43     May-14-2020                   44            82047
44     May-15-2020                   45            85855
45     May-16-2020                   46            90649
46     May-17-2020                   47            95698
47     May-18-2020                   48           100326
48     May-19-2020                   49           106480
49     May-20-2020                   50           112200
50     May-21-2020                   51           118223
51     May-22-2020                   52           124759
52     May-23-2020                   53           131422
53     May-24-2020                   54           138535
54     May-25-2020                   55           144949
55     May-26-2020                   56           150815

In [9]:
ser = pd.Series(['May,',57,34.5,np.nan])

In [10]:
ser.isnull()

0    False
1    False
2    False
3     True
dtype: bool

In [11]:
data["Counting_from_april"].replace(1,np.nan)

0      NaN
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
30    31.0
31    32.0
32    33.0
33    34.0
34    35.0
35    36.0
36    37.0
37    38.0
38    39.0
39    40.0
40    41.0
41    42.0
42    43.0
43    44.0
44    45.0
45    46.0
46    47.0
47    48.0
48    49.0
49    50.0
50    51.0
51    52.0
52    53.0
53    54.0
54    55.0
55    56.0
Name: Counting_from_april, dtype: float64

In [13]:
data.drop(data.columns[2],axis=1)

   Month_with_date  Counting_from_april  Recovered_Cases  Deceased_Cases
0     April-1-2020                    1              169              53
1     April-2-2020                    2              191              69
2     April-3-2020                    3              230              83
3     April-4-2020                    4              286              96
4     April-5-2020                    5              329             118
5     April-6-2020                    6              394             134
6     April-7-2020                    7              469             161
7     April-8-2020                    8              565             181
8     April-9-2020                    9              635             227
9    April-10-2020                   10              786             249
10   April-11-2020                   11              972             290
11   April-12-2020                   12             1086             332
12   April-13-2020                   13             1198             359
13   April-14-2020                   14             1365             396
14   April-15-2020                   15             1509             423
15   April-16-2020                   16             1767             449
16   April-17-2020                   17             2040             487
17   April-18-2020                   18             2466             522
18   April-19-2020                   19             2854             560
19   April-20-2020                   20             3273             593
20   April-21-2020                   21             3967             646
21   April-22-2020                   22             4370             682
22   April-23-2020                   23             5012             722
23   April-24-2020                   24             5496             781
24   April-25-2020                   25             5938             825
25   April-26-2020                   26             6523             881
26   April-27-2020                   27             7103             939
27   April-28-2020                   28             7739            1008
28   April-29-2020                   29             8429            1079
29   April-30-2020                   30             9059            1154
30      May-1-2020                   31            10021            1231
31      May-2-2020                   32            10852            1323
32      May-3-2020                   33            11763            1463
33      May-4-2020                   34            12845            1566
34    April-5-2020                   35            14140            1694
35      May-6-2020                   36            15301            1785
36      May-7-2020                   37            16776            1889
37      May-8-2020                   38            17887            1986
38      May-9-2020                   39            19301            2101
39     May-10-2020                   40            20970            2213
40     May-11-2020                   41            22549            2294
41     May-12-2020                   42            24454            2414
42     May-13-2020                   43            26417            2551
43     May-14-2020                   44            28011            2648
44     May-15-2020                   45            30245            2752
45     May-16-2020                   46            34257            2872
46     May-17-2020                   47            36795            3024
47     May-18-2020                   48            39277            3155
48     May-19-2020                   49            42309            3301
49     May-20-2020                   50            45422            3435
50     May-21-2020                   51            48553            3583
51     May-22-2020                   52            51833            3725
52     May-23-2020                   53            54409            3867
53     May-24-2020                   54            57694            4023
54     May-25-2020                   55            60706            4173
55     May-26-2020                   56            64277            4346

In [15]:
data.drop(data.index[[2,4]])

,Month_with_date,Counting_from_april,Confirmed_Cases,Recovered_Cases,Deceased_Cases
0,April-1-2020,1,2059,169,53
1,April-2-2020,2,2545,191,69
3,April-4-2020,4,3684,286,96
5,April-6-2020,6,4777,394,134
6,April-7-2020,7,5350,469,161
7,April-8-2020,8,5915,565,181
8,April-9-2020,9,6728,635,227
9,April-10-2020,10,7599,786,249
10,April-11-2020,11,8453,972,290
11,April-12-2020,12,9211,1086,332
12,April-13-2020,13,10454,1198,359
13,April-14-2020,14,11485,1365,396
14,April-15-2020,15,12371,1509,423
15,April-16-2020,16,13432,1767,449
16,April-17-2020,17,14354,2040,487
17,April-18-2020,18,15725,2466,522
18,April-19-2020,19,17305,2854,560
19,April-20-2020,20,18544,3273,593
20,April-21-2020,21,20081,3967,646
21,April-22-2020,22,21373,4370,682
22,April-23-2020,23,23040,5012,722
23,April-24-2020,24,24448,5496,781
24,April-25-2020,25,26238,5938,825
25,April-26-2020,26,27890,6523,881
26,April-27-2020,27,29458,7103,939
27,April-28-2020,28,31360,7739,1008
28,April-29-2020,29,33065,8429,1079
29,April-30-2020,30,34866,9059,1154
30,May-1-2020,31,37262,10021,1231
31,May-2-2020,32,39826,10852,1323
32,May-3-2020,33,42778,11763,1463
33,May-4-2020,34,46434,12845,1566
34,April-5-2020,35,49405,14140,1694
35,May-6-2020,36,53007,15301,1785
36,May-7-2020,37,56351,16776,1889
37,May-8-2020,38,59690,17887,1986
38,May-9-2020,39,62865,19301,2101
39,May-10-2020,40,67176,20970,2213
40,May-11-2020,41,70768,22549,2294
41,May-12-2020,42,74330,24454,2414
42,May-13-2020,43,78056,26417,2551
43,May-14-2020,44,82047,28011,2648
44,May-15-2020,45,85855,30245,2752
45,May-16-2020,46,90649,34257,2872
46,May-17-2020,47,95698,36795,3024
47,May-18-2020,48,100326,39277,3155
48,May-19-2020,49,106480,42309,3301
49,May-20-2020,50,112200,45422,3435
50,May-21-2020,51,118223,48553,3583
51,May-22-2020,52,124759,51833,3725
52,May-23-2020,53,131422,54409,3867
53,May-24-2020,54,138535,57694,4023
54,May-25-2020,55,144949,60706,4173
55,May-26-2020,56,150815,64277,4346

In [16]:
data.drop_duplicates()

,Month_with_date,Counting_from_april,Confirmed_Cases,Recovered_Cases,Deceased_Cases
0,April-1-2020,1,2059,169,53
1,April-2-2020,2,2545,191,69
2,April-3-2020,3,3105,230,83
3,April-4-2020,4,3684,286,96
4,April-5-2020,5,4293,329,118
5,April-6-2020,6,4777,394,134
6,April-7-2020,7,5350,469,161
7,April-8-2020,8,5915,565,181
8,April-9-2020,9,6728,635,227
9,April-10-2020,10,7599,786,249
10,April-11-2020,11,8453,972,290
11,April-12-2020,12,9211,1086,332
12,April-13-2020,13,10454,1198,359
13,April-14-2020,14,11485,1365,396
14,April-15-2020,15,12371,1509,423
15,April-16-2020,16,13432,1767,449
16,April-17-2020,17,14354,2040,487
17,April-18-2020,18,15725,2466,522
18,April-19-2020,19,17305,2854,560
19,April-20-2020,20,18544,3273,593
20,April-21-2020,21,20081,3967,646
21,April-22-2020,22,21373,4370,682
22,April-23-2020,23,23040,5012,722
23,April-24-2020,24,24448,5496,781
24,April-25-2020,25,26238,5938,825
25,April-26-2020,26,27890,6523,881
26,April-27-2020,27,29458,7103,939
27,April-28-2020,28,31360,7739,1008
28,April-29-2020,29,33065,8429,1079
29,April-30-2020,30,34866,9059,1154
30,May-1-2020,31,37262,10021,1231
31,May-2-2020,32,39826,10852,1323
32,May-3-2020,33,42778,11763,1463
33,May-4-2020,34,46434,12845,1566
34,April-5-2020,35,49405,14140,1694
35,May-6-2020,36,53007,15301,1785
36,May-7-2020,37,56351,16776,1889
37,May-8-2020,38,59690,17887,1986
38,May-9-2020,39,62865,19301,2101
39,May-10-2020,40,67176,20970,2213
40,May-11-2020,41,70768,22549,2294
41,May-12-2020,42,74330,24454,2414
42,May-13-2020,43,78056,26417,2551
43,May-14-2020,44,82047,28011,2648
44,May-15-2020,45,85855,30245,2752
45,May-16-2020,46,90649,34257,2872
46,May-17-2020,47,95698,36795,3024
47,May-18-2020,48,100326,39277,3155
48,May-19-2020,49,106480,42309,3301
49,May-20-2020,50,112200,45422,3435
50,May-21-2020,51,118223,48553,3583
51,May-22-2020,52,124759,51833,3725
52,May-23-2020,53,131422,54409,3867
53,May-24-2020,54,138535,57694,4023
54,May-25-2020,55,144949,60706,4173
55,May-26-2020,56,150815,64277,4346